{% extends "main_user_auth.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
<div class="password-set-container">
    <h1 class="mb-4">{{ block.super }}</h1>

    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}" id="set_password_form">
        {% csrf_token %}
        
        <!-- New Password Field -->
        <div class="input-group mb-3">
            <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" class="form-control" placeholder="{% trans 'New Password' %}" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <!-- Confirm New Password Field -->
        <div class="input-group mb-3">
            <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" class="form-control" placeholder="{% trans 'Confirm New Password' %}" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Set Password' %}</button>
        </div>
    </form>
</div>
{% endblock content %}

