{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Profile</a></li>
              <li class="breadcrumb-item active">Edit Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                            src="{% static 'LTE/dist/img/user4-128x128.jpg' %}" alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">{{ me.first_name }} {{ me.last_name }}</h3>

                    <p class="text-muted text-center">{{me.my_class}}</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Grades Ave:</b> <a class="float-right">78%</a>
                        </li>
                        {% if me.user == request.user %}
                        <a href="{% url 'edit_profile' me.id %}" class="btn btn-primary btn-block"><b>Update Profile</b></a>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i> BIO</strong>

                    <p class="text-muted">
                        {{me.bio}}
                    </p>

                    <hr>
                    <!-- remember to chenge the phone icon here -->
                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Contact Info</strong>

                    <p class="text-muted"><strong>{{me.contact_number}}</strong> - (Primary)</p>
                    <p class="text-muted"><strong>{{me.emergency_contact}}</strong> -  (Emergency)</p>

                    <hr>

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Email</strong>

                    <p class="text-muted">
                        {{me.email}}
                    </p>

                    <hr>

                    <strong><i class="far fa-file-alt mr-1"></i> More Info</strong>

                    <p class="text-muted">
                        <strong>Gender: </strong>{{me.gender}}
                        <br>
                        <strong>Race: </strong> {{me.race}}
                        <br>
                        <strong>Date Of Birth: </strong> {{me.date_of_birth}}
                        <br>
                        <strong>Role: </strong> {{me.user_type}}
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
                <div>
                    <!-- Update form -->
                    <div class="card card-warning">
                      <div class="card-header">
                        <h3 class="card-title">Update Profile Information</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <!-- Display form errors -->
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                
                                <!-- First Name Field -->
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <!-- Render the label with appropriate attributes -->
                                        <label>First Name</label>
                                        
                                        <!-- Render the input field with necessary classes and attributes -->
                                        {{ form.first_name|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Last Name Field -->
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <!-- Render the label with appropriate attributes -->
                                        <label>Last Name</label>
                                        <!-- Render the input field with necessary classes and attributes -->
                                        {{ form.last_name|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Nickname Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nickname</label>
                                        {{ form.nickname|add_class:"form-control" }}
                                    </div>
                                </div>
                        
                                <!-- Date of Birth Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date Of Birth</label>
                                        {{ form.date_of_birth|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Gender Field -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        {{ form.gender|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Race Field -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Ethnicity</label>
                                        {{ form.race|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Class Field -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Class</label>
                                        {{ form.my_class|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Bio Field -->
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Bio</label>
                                        {{ form.bio|add_class:"form-control" }}
                                    </div>
                                </div>
                        
                                <!-- Profile Picture Field -->
                                <div class="form-group">
                                    <p>Update Your Profile Picture Here</p>
                                    <label>Profile Picture</label>
                                    <div class="custom-file">
                                        {{ form.profile_picture|add_class:"form-control" }}
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>

                                <!-- Country choice -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Country code</label>
                                        <select class="form-control select2" id="id_country_select" name="country_select" style="width: 100%;">
                                            <option>
                                                {% for country in countries %}
                                                    <option value="{{ country }}">{{ country }}</option>
                                                {% endfor %}
                                            </option>
                                          </select>
                                    </div>
                                </div>
                                
                                <!-- empty div here -->
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                        <p><strong>Note:</strong>please write the cell number withouth the country code</p>
                                    </div>
                                </div>
                                
                                <!-- Contact Number Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        {{ form.contact_number|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- Emergency Contact Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Emergency Number</label>
                                        {{ form.emergency_contact|add_class:"form-control" }}
                                    </div>
                                </div>
                                
                                <!-- User Type Field -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>User Type</label>
                                        {{ form.user_type|add_class:"form-control" }}
                                    </div>
                                </div>

                                <!-- empty div for spacing -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        
                                    </div>
                                </div>
                        
                                <!-- Submit and Cancel Buttons -->
                                <div class="form-group">
                                    <a class="btn btn-dark" href="{% url 'profile' request.user.id %}">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                        
                        
                      </div>
                      <!-- /.card-body -->
                    
                    <!-- /.card -->
                  </div>
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    

{% endblock content %}