{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
    <form class="form" action="" method="POST" class="row g-3">
        {% csrf_token %}
        {% for  field in form %}
        <div class="form__group">
            <label for="user_name">{{field.label}}</label>
            {{ field }}
        </div>
        {% endfor %}
    
        <div class="form__action">
            <a class="btn btn--dark" href="{% url 'profile' request.user.id %}">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
        </div>
    </form>

{% endblock content %}