{% extends 'main.html' %}
{% load custom_filters %}
{% block content %}
<title>MLH | Home</title>
<main class="layout layout--3">
    <div class="container">

        <!-- Room List Start -->  
        <div class="roomList">
            <!-- Room list Header Count -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <section class="content-header">
                        <div class="container-fluid">
                          <div class="row mb-2">
                            <div class="col-sm-6">
                              <h1>My Learning Dashboard</h1>
                            </div>
                            <div class="col-sm-6">
                              <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">Home</li>
                              </ol>
                            </div>
                          </div>
                        </div><!-- /.container-fluid -->
                    </section>
                
                <!-- My tasks starts here -->
                <div class="row">
                    <div class="col-md-12">
                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                        <h3 class="card-title">MY TASKS - {{ current_date }}</h3>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                            <thead>
                            <tr>
                                <th>Task Desc...</th>
                                <th>Start/End Dates</th>
                                <th>Subject</th>
                                {% if me.user_type == 'educator' %}
                                <th>Action</th>
                                {% endif %}
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in assigned_tasks %}
                            <tr>
                                
                                <td>{{ task.task }}</td>
                                <td><a href="pages/examples/invoice.html">{{ task.start_date|date:"M-d" }} - {{ task.end_date|date:"M-d" }}</a></td>
                                <td><a href="">{{ task.task.subject }}</a></td>
                                <td><span class="badge badge-success">{{ task.status }}</span></td>
                                {% if me.user_type == 'educator' %}
                                <td><span class="badge badge-danger">Edit</span></td>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <form method="get" action="" class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-info float-left" name="date" value="{{ current_date_minus }}">Prev</button>
                               
                                <button type="submit" class="btn btn-sm btn-info float-right" name="date" value="{{ current_date_plus }}">Next</button>
                            </form>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- my tasks ends here -->
        
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <div class="col-md-12">
                    <!-- MAP & BOX PANE -->
                    <div class="card">
                        <div class="card direct-chat direct-chat-warning">
                            <div class="card-header">
                                <h3 class="card-title">REMINDERS</h3>
            
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- messages and reminders div -->
                            <div class="card-body p-0">
                                <div class="md-flex">
                                    <!-- TO DO List -->
                                    <div class="card mr-12">
                                        <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Reminders List
                                        </h3>
                        
                                        <div class="card-tools">
                                            <ul class="pagination pagination-sm">
                                            <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                                            <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                                            </ul>
                                        </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                        <ul class="todo-list" data-widget="todo-list">
                                            {% for reminder in reminders %}
                                            <li>
                                            <!-- drag handle -->
                                            <span class="handle">
                                                <i class="fas fa-ellipsis-v"></i>
                                                <i class="fas fa-ellipsis-v"></i>
                                            </span>
                                            <!-- checkbox -->
                                            <div  class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" value="" name="todo1" id="todoCheck1">
                                                <label for="todoCheck1"></label>
                                            </div>
                                            <!-- todo text -->
                                            <span class="text">{{ reminder.message }}</span>
                                            <!-- Emphasis label -->
                                            <small class="badge badge-danger float-right"><i class="far fa-clock"></i>
                                                {% if reminder.time_since < 60 %}
                                                {{ reminder.time_since|floatformat:0 }} seconds
                                                {% elif reminder.time_since < 3600 %}
                                                    {{ reminder.time_since|divisibleby:60|floatformat:0 }} minutes
                                                {% elif reminder.time_since < 86400 %}
                                                    {{ reminder.time_since|divisibleby:3600|floatformat:0 }} hours
                                                {% else %}
                                                    {{ reminder.time_since|divisibleby:86400|floatformat:0 }} days
                                                {% endif %}
                                            </small>
                                            <small class="badge float-right">
                                                <form method="post" action="{% url 'delete_reminder' reminder.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit">Delete</button>
                                                </form>
                                            </small>
                                            <!-- General tools such as edit or delete-->
                                            <div class="tools">
                                                <i class="fas fa-edit"></i>
                                                <i class="fas fa-trash-o"></i>
                                            </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer clearfix">
                                            <form action="{% url 'home' %}" method="post">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    {{ form.message|add_class:"form-control" }}
                                                    <span class="input-group-append">
                                                         <button type="submit" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button>
                                                    </span>
                                                </div>
                                            </form>
                                       
                                        </div>
                                    </div>
                                    <!-- /.card --> 
                                </div><!-- /.d-md-flex -->   
                            </div>

                        </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
        </div>

    </div>
</main>
{% endblock content %}