{% extends 'main.html' %}
{% block content %}
<title>MLH | Notifications</title>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Notifications</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Notifications</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
    <div class="col-md-3">
        <a href="compose.html" class="btn btn-primary btn-block mb-3">Category</a>

        <!-- /.card -->
        <div class="card">
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle text-danger"></i>
                General Notifications
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle text-warning"></i> Class Notifications
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                <i class="far fa-circle text-primary"></i>
                Subject Notifications
                </a>
            </li>
            </ul>
        </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
        <div class="card-header">
            <!-- start teh filter from here, for the different groups of notification -->
            <h3 class="card-title">Inbox</h3>

            <div class="card-tools">
            <div class="input-group input-group-sm">
                
                <input type="text" class="form-control" placeholder="Search Mail">
                <div class="input-group-append">
                <div class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </div>
                </div>
            </div>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                <tr>
                {% for notice in notifications %}
                <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                <td class="mailbox-name"><a>{{ notice.notification_group }}</a></td>
                <td class="mailbox-subject"><b>{{ notice.title }}</b></td>
                <td class="mailbox-date">{{ notice.updated_at }}</td>
                </tr>
                {% endfor %}
                <tr> 
                </tbody>
            </table>
            <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{% endblock content %}