{% extends 'main.html' %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<title>MLH |        Profile</title>
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>My Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                    src="{% static 'LTE/dist/img/user4-128x128.jpg' %}" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ me.first_name }} {{ me.last_name }}</h3>

                            <p class="text-muted text-center">{{me.my_class}}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Grades Average:</b> <a class="float-right">78%</a>
                                </li>
                                {% if me.user == request.user %}
                                <a href="{% url 'edit_profile' me.id %}" class="btn btn-primary btn-block"><b>Update Profile</b></a>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> BIO</strong>

                            <p class="text-muted">
                                {{me.bio}}
                            </p>

                            <hr>
                            <!-- remember to chenge the phone icon here -->
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Contact Info</strong>

                            <p class="text-muted"><strong>{{me.contact_number}}</strong> - (Primary)</p>
                            <p class="text-muted"><strong>{{me.emergency_contact}}</strong> -  (Emergency)</p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i> Email</strong>

                            <p class="text-muted">
                                {{me.email}}
                            </p>

                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> More Info</strong>

                            <p class="text-muted">
                                <strong>Gender: </strong>{{me.gender}}
                                <br>
                                <strong>Race: </strong> {{me.race}}
                                <br>
                                <strong>Date Of Birth: </strong> {{me.date_of_birth}}
                                <br>
                                <strong>Role: </strong> {{me.user_type}}
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- Timeline -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity"
                                        data-toggle="tab">Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline"
                                        data-toggle="tab">Timeline</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <!-- All message types of Posts -->
                                <div class="active tab-pane" id="activity">
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm"
                                                src="{% static 'LTE/dist/img/user1-128x128.jpg' %}" alt="user image">
                                            <span class="username">
                                                <a href="#">Jonathan Burke Jr.</a>
                                                <a href="#" class="float-right btn-tool"><i
                                                        class="fas fa-times"></i></a>
                                            </span>
                                            <span class="description">Shared publicly - 7:30 PM today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                            Lorem ipsum represents a long-held tradition for designers,
                                            typographers and the like. Some people hate it and argue for
                                            its demise, but others ignore the hate as they create awesome
                                            tools to help create filler text for everyone from bacon lovers
                                            to Charlie Sheen fans.
                                        </p>

                                        <p>
                                            <a href="#" class="link-black text-sm mr-2"><i
                                                    class="fas fa-share mr-1"></i> Share</a>
                                            <a href="#" class="link-black text-sm"><i
                                                    class="far fa-thumbs-up mr-1"></i> Like</a>
                                            <span class="float-right">
                                                <a href="#" class="link-black text-sm">
                                                    <i class="far fa-comments mr-1"></i> Comments (5)
                                                </a>
                                            </span>
                                        </p>

                                        <input class="form-control form-control-sm" type="text"
                                            placeholder="Type a comment">
                                    </div>
                                    <!-- /.post -->
                                </div>
                                {% include "timeline.html" %}
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- Timeline -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endif %} 

{% endblock content %}
