{% load static %}

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="{% url 'home' %}" class="brand-link">
                <img src="{% static 'LTE/dist/img/AdminLTELogo.png' %}" alt="My Learning Hub Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">My Learning Hub</span>
            </a>
        
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{% static 'LTE/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="{% url 'profile' me.id %}" class="d-block">{{me.first_name}} {{me.last_name}}</a>
                    </div>
                </div>
        
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!--The Classesroom-->
                        <li class="nav-item">
                            <a href="{% url 'class' my_class.id %}" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>{{my_class}}</p>
                            </a>
                        </li>
                        <!-- the subjects under that specific class -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="{% url 'class' my_class.id %}" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Subjects
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <!-- this is for each subject view -->
                                {% for subject in subjects %}
                                <li class="nav-item">
                                    <a href="{% url 'subject' subject.id %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>{{subject.title}}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!--All Tasks-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Tasks
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <!--All uncompleted Tasks-->
                                <li class="nav-item">
                                    <a href="{% url 'my_tasks' %}" class="nav-link">
                                        <i class="nav-icon far fa-circle text-danger"></i>
                                        <p>Uncompleted Tasks</p>
                                    </a>
                                </li>
                                <!--All Completed Tasks-->
                                <li class="nav-item">
                                    <a href="{% url 'my_tasks' %}" class="nav-link">
                                        <i class="nav-icon far fa-circle text-info"></i>
                                        <p>Completed Tasks</p>
                                    </a>
                                </li>
                                <!--All upcoming Tasks-->
                                <li class="nav-item">
                                    <a href="{% url 'my_tasks' %}" class="nav-link">
                                        <i class="nav-icon far fa-circle text-warning"></i>
                                        <p>Upcoming Tasks</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Communication
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'my_notifications' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>General Communication</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Messages</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'all_posts' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Posts</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--All communication-->
                        <li class="nav-header">SCHOOL RELATED</li>
                        <li class="nav-item">
                            <!--All Calender-->
                            <a href="{% url 'conference' %}" class="nav-link">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Conference
                                    <span class="badge badge-info right">2</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!--All Calender-->
                            <a href="{% url 'calender' %}" class="nav-link">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    Calendar
                                    <span class="badge badge-info right">2</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'finance' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>My Finance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'store' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>School Shop</p>
                            </a>
                        </li>
                                 
                        <li class="nav-header">USER ACCOUNT</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Settings</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>Privacy And Protection</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>