{% extends 'main.html' %}
{% load custom_filters %}
{% block content %}
<title>MLH | Home</title>
<main class="layout layout--3">
    <div class="container">

        <!-- Room List Start -->  
        <div class="roomList">
            <!-- Room list Header Count -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <section class="content-header">
                        <div class="container-fluid">
                          <div class="row mb-2">
                            <div class="col-sm-6">
                              <h1>All My Tasks</h1>
                            </div>
                            <div class="col-sm-6">
                              <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item">All Tasks</li>
                              </ol>
                            </div>
                          </div>
                        </div><!-- /.container-fluid -->
                    </section>
                
                <!-- My tasks starts here -->
                <div class="row">
                    <div class="col-md-12">
                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                        <h3 class="card-title">MY TASKS</h3>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                            <thead>
                            <tr>
                                <th>Date Range</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in assigned_tasks %}
                            <tr>
                                <td><a href="pages/examples/invoice.html">{{ task.starts_date }} - {{ task.end_date }}</a></td>
                                <td>{{ task.task }}</td>
                                <div class="sparkbar" data-color="#00a65a" data-height="20">{{ task.task.description }}</div>
                                <td>
                                <td><span class="badge badge-success">{{ task.status }}</span></td>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-left">Prev</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Next</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- my tasks ends here -->
            </section>
        </div>

    </div>
</main>
<style>
    .scrollable-content {
        overflow-y: auto;
        max-height: 600px;
        /* adjust the height as needed */
    }

    .roomListRoom {
  height: 200px;
  width: 100%;
}
</style>

{% endblock content %}